/*body {
  font-family: Baskerville, serif;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
     -moz-font-feature-settings: "kern" 1;
       -o-font-feature-settings: "kern" 1;
          font-feature-settings: "kern" 1;
  font-kerning: normal;
  margin: 1.5em;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

.content-image {
  display: block;
  margin: 1em 0 2em;
  -webkit-box-shadow: 4px 4px 32px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: 4px 4px 32px -1px rgba(0,0,0,0.75);
  box-shadow: 4px 4px 32px -1px rgba(0,0,0,0.75);
}

a {
  color: #00a897;
  text-decoration: underline;

  &:hover {
    color: darken(#00a897, 15%);
  }
}*/